.detail-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
  }
  label {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: 5px;
    height: 1.6em;
    border-radius: 4px;

  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  li {
    position: relative;
    cursor: pointer;
  }
  
  li:hover {
    left: .1em;
  }
